.from-teal-200 {
  --tw-gradient-from: #99f6e4;
  --tw-gradient-to: rgb(121 40 202 / 0);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.to-teal-500 {
  --tw-gradient-to: #14b8a6;
}

:root {
  color-scheme: light dark;
}

[data-color-scheme="dark"] {
  color-scheme: dark;
}

[data-color-scheme="light"] {
  color-scheme: light;
}

button span {
  transition: transform 0.2s;
}

button.active span {
  transform: translateX(100%);
}
